{% extends '@EasyAdmin/default/show.html.twig' %}


        {% block main %}
                <script src="https://code.highcharts.com/highcharts.js"></script>
                <script src="https://code.highcharts.com/modules/data.js"></script>
                <script src="https://code.highcharts.com/modules/drilldown.js"></script>
                <script type="text/javascript">
                    {{ chart(scenesCost) }}
                    {{ chart(locationsCost) }}
                    {{ chart(rolesCost) }}
                </script>
                <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-8">
                                                        <h4 class="number">{% trans %}Directors {% endtrans %}</h4>
                                                        <h5>{{ numberOfDirectors }}</h5>
                                                        <h5>{{ totalCost }} EUR</h5>
                                                </div>
                                                <div class="col-md-12 col-lg-4 text-center i-well i-well-user">
                                                        <i class="fa fa-users"></i>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h4 class="number">Locations</h4>
                                                        <h5>{{ numberOfLocations }}</h5>
                                                        <h5>{{ locationCost }} EUR</h5>
                                                </div>
                                                <div class="col-md-12 col-lg-6 text-center i-well">
                                                        <i class="fa fa-map-marker"></i>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h4 class="number">{% trans %}Scenes{% endtrans %}</h4>
                                                        <h5>{{ sceneNum }}</h5>
                                                        <h5>{{ sceneCost }} EUR</h5>
                                                </div>
                                                <div class="col-md-12 col-lg-6 text-center i-well">
                                                        <i class="fa fa-camera-retro"></i>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-3">
                                <div class="well">
                                        <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                        <h4 class="number center-block">{% trans %} Roles{% endtrans %}</h4>
                                                        <h5>{{ roleNum }}</h5>
                                                        <h5>{{ roleCost }} EUR</h5>
                                                </div>
                                                <div class="col-md-12 col-lg-6 text-center i-well">
                                                        <i class="fa fa-user-circle-o"></i>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <div class="well" id="scenesCost">
                                </div>
                        </div>
                </div>

                <div class="row">
                        <div class="col-sm-6">
                                <div class="well" id="locationsCost">

                                </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="well" id="rolesCost">

                                </div>
                        </div>
                </div>

            {% endblock %}